$cor-texto-principal: #FFFFFF
$cor-texto-secundaria: #D9D9D9
$cor-texto-destaque: #7B78E5
$cor-de-fundo: #04244F

$espacamento-lateral: 1.5rem

$tamanho-texto-medio: 1.5rem
$tamanho-texto-pequeno: 1.25rem