@use '../../styles/_variaveis' as *
    
.menu
    grid-area: menu
    margin-top: 0.6875rem
    width: 100%

    .menu__lista
        display: flex
        flex-direction: column
        gap: 2rem

@media screen and (max-width: 1024px)
    .menu
        margin-top: 0
        
        .menu__lista
            align-items: center
            flex-direction: row
            flex-wrap: wrap
            gap: 1rem
            justify-content: space-around

@media screen and (max-width: 425px)
    .menu
        
        .menu__lista
            align-items: flex-start
            flex-direction: column